html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #292e3dff;
    padding: 0px 10px;
    box-sizing: border-box;
    position: absolute;

}

.justifyTop {
    height: 606px;
}

.noshrink {
    flex-shrink: 0;
}

#reservedCanvas {
    width: 140px;
    height: 140px;
    margin-right: 10px;
    background: #7d1399;
    border: 3px solid #ef5c44ff;
}

#gameContainer {
    width: 300px;
    height: 600px;
    margin-right: 10px;
    background: #7d1399;
    border: 3px solid #387995ff;
    opacity: 100%;
}

.gameItem {
    width: 300px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.overlay {
    background: #292e3dff;
}

.invisible {
    display: none;
}

/*Tieu de cua game, dinh dang chu 'Multris'*/
.title {
    width: 300px;
    height: 100px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #ef5c44ff;
}

#nameInput {
    width: 150px;
    height: 30px;
    margin: 155px 75px 0px 75px;
    padding: 0px;
    border: 1px solid #f2b84cff;
    text-align: center;
    font-size: 20px;
    background: #f2b84cff;
    color: #123;
}

#nameInput::placeholder {
    color: #292e3dff;
}

#nameSubmit {
    width: 100px;
    height: 40px;
    margin: 200px 100px 0px 100px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background: #41a9adff;
    color: #123;
    cursor: pointer;
}

#nameSubmit:hover {
    background: #387995ff;
}

.infoText {
    width: 250px;
    height: 100px;
    margin: 150px 25px 0px 25px;
    padding: 0px;
    text-align: center;
    white-space: pre-line; /* for newline characters in endGame() */
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
}

.startButton {
    width: 100px;
    height: 40px;
    margin: 200px 100px 0px 100px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background: #41a9adff;
    color: #123;
    cursor: pointer;
}

.startButton:hover {
    background: #387995ff;
}

.wideButton {
    width: 150px;
    margin: 200px 75px 0px 75px;
}

#upcomingCanvas {
    width: 140px;
    height: 600px;
    margin-right: 10px;
    background: #292e3dff;
    border: 3px solid #f2b84cff;
}

#opponentCanvas {
    max-width: 600px;
    height: 600px;
    background: #123;
    border: 3px solid #33bf4bff;
    transition: all 0.25s;
}

.name {
    text-align: center;
    font-size: larger;
    font-family: 'Press Start 2P', cursive;
    color: #7d1399;
    width: 100%;
    height: auto;
    
}

.item1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #DE7614;
    right: 10%;
    bottom: 40%;
    animation: spin 10s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.item2 {
  position: absolute;
  left: 90px;
  bottom: 30%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}
@keyframes topBounce{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
}
.item2 div{
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

.item3 {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 12px solid #A6A670;
    border-radius: 50%;
    left: 10%;
    top: 90px;
    animation: leftBounce 3s ease-in-out infinite;
}
@keyframes leftBounce{
  0%,100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(25px);
  }
}

